.about {
  
  padding: 20px 20px;
  max-width: var(--max-width);
  margin: auto;
}
.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info {
  display: grid;
  min-width: 0;
  grid-template-columns: 1fr 1fr;

  grid-gap: 5rem;
}
.about-info-text{
  min-width: 0;    
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-info-skills {
  min-width:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  max-width: 400px;
}

.skill {
  color: var(--main-color);
  background-color: var(--secondary-background-color);

  padding: 5px 10px;
}

@media screen and (max-width: 768px) {
  .about-info {
    grid-template-columns: 1fr; /* Change to single column layout */
    grid-gap: 2rem;
  }
}
