.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.contact-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.contact-button {
 margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    gap: 10px;
  }
}
