.navbar {
  height: var(--navbar-height);
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 40;
}

.navbar.scrolled {
  z-index: 40;
  background-color: var(--main-background-color);
}

.nav-tabs-container {
  display: flex;
  min-width: fit-content;
  width: 40%;
  gap:50px;
  justify-content: space-between;
  font-size: 1.5rem;
}

.nav-name {
  font-size: 1.5rem;
}

.nav-tabs {
  display: flex;
  gap: 20px;
}
.nav-item:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 0.75rem;
}
.nav-item.active {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 0.75rem;
}
.nav-bars {
  display: none;
  height: 0%;
}

.navbar-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .navbar {
    position: sticky;
    z-index: 50;
  }
  .menu {
    position: absolute;
    right: 25px;
    width: 30px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .line {
    width: 100%; /* Adjust as needed */
    height: 2px; /* Thickness of the lines */
    background-color: var(--main-color); /* Color of the lines */
    transition: transform 0.2s ease;
  }

  .menu-toggled .line:first-child {
    transform: rotate(45deg) translate(0.5px, 12px); /* Rotate and translate the first line */
  }

  .menu-toggled .line:last-child {
    transform: rotate(-45deg) translate(0.5px, -12px); /* Rotate and translate the second line */
  }

  .nav-tabs-container {
    display: none;
    padding: 20px 0px;
  }
  .nav-tabs {
    flex-direction: column;
  }

  .nav-item {
    padding: 0px 20px;
  }

  .nav-toggled {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(var(--navbar-height));
    color: var(--main-text-color);
    width: 100vw;
    background-color: var(--main-background-color);

    animation: navFadeIn 0.2s linear forwards; /* Fade in animation */

    font-size: 1.5rem;
    gap: 1rem;
    box-shadow: var(--box-shadow-lg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @keyframes navFadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }

  .navbar-group {
    border-top: 1px solid var(--main-text-color);
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
  }
}
