.navbar {
  height: var(--navbar-height);
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 40;
}

.navbar.scrolled {
  z-index: 40;
  background-color: var(--main-background-color);
  transition: all 0.5s;
}

.nav-tabs-container {
  min-width: fit-content;
  width: 40%;
}

.nav-tabs-inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 1.5rem;
}
.nav-name {
  font-size: 2.5rem;
  font-weight: bolder;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
}

.k-letter,
.c-letter {
  display: inline-block;
  position: relative;
}

.k-letter {
  top: -5px;
}

.c-letter {
  top: 5px;
}

.nav-tabs {
  display: none;
  gap: 20px;
}
.nav-item:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 0.75rem;
}
.nav-item.active {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 0.75rem;
}
.nav-bars {
  display: none;
  height: 0%;
}

.navbar-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* SlidingLinksSelector */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-list {
  position: relative;
  display: flex;
  width: fit-content;

  border: 0.5px solid var(--main-text-color);
  background-color: transparent;
  padding: 0.25rem;
}

.tab-item {
  list-style: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;

  font-weight: 400;
  white-space: nowrap;
  font-size: 1rem;
}

.tab-item-md {
  font-size: 1.125rem;
}

.cursor {
  position: absolute;
  z-index: 0;
  height: 2.5rem;

  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary-background-color);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .navbar {
    position: sticky;
    z-index: 50;
    transition: 0.3s all ease-in-out 0.5s;
  }

  .navbar.toggled {
    background-color: var(--main-background-color);
    transition: 0.3s all ease-in-out;
  }
  .menu {
    position: absolute;
    right: 25px;
    width: 30px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .line {
    width: 100%; /* Adjust as needed */
    height: 2px; /* Thickness of the lines */
    background-color: var(--main-color); /* Color of the lines */
    transition: transform 0.2s ease;
  }

  .menu-toggled .line:first-child {
    transform: rotate(45deg) translate(0.5px, 12px); /* Rotate and translate the first line */
  }

  .menu-toggled .line:last-child {
    transform: rotate(-45deg) translate(0.5px, -12px); /* Rotate and translate the second line */
  }

  .nav-tabs-container {
    position: fixed;
    max-height: 0;
    width: 100vw;
    top: calc(var(--navbar-height));
    background-color: var(--main-background-color);
    box-sizing: content-box;

    box-shadow: var(--box-shadow-lg);

    overflow: hidden;

    font-size: 1.5rem;
    gap: 1rem;
    transition: 0.5s all ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav-tabs-inner {
    flex-direction: column;
    padding: 20px 0px;
  }

  .nav-toggled {
    transition: 0.5s all ease-in-out 0.2s;
    max-height: 500px;
    color: var(--main-text-color);
  }
  .nav-tabs {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    padding: 0px 20px;
  }

  @keyframes navFadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }

  .navbar-group {
    border-top: 1px solid var(--main-text-color);
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
  }

  .container {
    display: none;
  }
}
