.profile-container {
  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
  box-sizing: border-box;
}
.profile {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr 6fr;
  height: calc(100vh - var(--navbar-height));

  align-items: center;
  text-align: center;
}

.profile-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 500px;
  position: relative;
}

h1.profile-name::after {
  all: unset;
}

.profile-greeting {
  z-index: 5;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
  font-size: 1.5rem;
}
.profile-name {
  z-index: 5;
  position: absolute;

  padding: 0;
  top: 30%;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);

  font-size: 4.5rem;
  font-weight: 300;
}
.hidden-content {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);

  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#photo {
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.profile-button {
  padding: 10px;
  font-weight: bold;
}


@media screen and (max-width: 830px) {
  .profile {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .profile-headshot #photo {
    min-height: 300px;
    min-width: 300px;
    height: 40vw;
    width: 40vw;
  }

  .profile-greeting {
    top: 0%;
    width: 100%;
  }
  .profile-name {
    top: 15%;
    width: 100%;
    line-height: 1.2;

    font-size: 3.5rem;
  }
  .hidden-content {
    top: 40%;
    width: 100%;
  }

  .profile-content {
    justify-content: center;
    height: 300px;
  }
}
