@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --main-color: cyan;
  --hover-background-color: rgba(60, 72, 96, 0.179);

  /* --secondary-background-color: rgb(62, 62, 62); */
  --navbar-height: 70px;
  --view-more-height: 50px;
}

.App {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  background-image: url("/public/top-gradient.png");
  background-repeat: no-repeat;
}

.dark-mode {
  --main-text-color: white;
  --secondary-color: white;
  --main-background-color: black;
  --secondary-background-color: rgba(0, 255, 255, 0.1);
  --solid-secondary-background-color: #0e2e3f;
}

.light-mode {
  --main-text-color: black;
  --secondary-color: black;
  --main-background-color: white;
  --secondary-background-color: rgba(0, 255, 255, 0.1);
  --solid-secondary-background-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.switch-mode-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 30px;
  mix-blend-mode: difference;
  font-size: 16px;
}

/* General checkbox styling */
.settings-checkbox {
  border: none;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  outline: none;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #0e2e3f;
  transition: background-color 0.3s ease;
}

.settings-checkbox::before {
  z-index: 10;
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.settings-checkbox:checked {
  background-color: black;
}

.settings-checkbox:checked::before {
  background-color: white;
  transform: translate(100%, -50%);
}

/* Navbar */

.special-word {
  color: cyan;
}

p {
  color: rgb(148 163 184);
  font-weight: normal;
  margin: 0;
  font-size: 1rem;
}

button {
  all: unset;
  border: 1px cyan solid;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: cyan;
  color: rgb(42, 41, 41);
}

/* Scroll behavior */

.about {
  scroll-margin-top: var(--navbar-height);
}
.projects {
  scroll-margin-top: var(--navbar-height);
}
.experience {
  scroll-margin-top: var(--navbar-height);
}

.App {
  margin: 0px;
  padding: 0px;
}

.scroll-top-button {
  margin: 20px 0px;
}

h1 {
  padding: 25px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(50px); /* Make the underline wider by 50 pixels */
  height: 5px; /* Set the height of the underline */
  background-color: cyan; /* Set the color of the underline */
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
}
