@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  overscroll-behavior: none;
  --hover-background-color: rgba(60, 72, 96, 0.179);
  --navbar-height: 70px;
}

.App {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  background-image: url("/public/top-gradient.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.dark-mode {
  --main-color: cyan;
  --main-text-color: white;
  --main-background-color: black;
  --secondary-background-color: rgba(0, 255, 255, 0.25);
  --solid-secondary-background-color: #0e2e3f;
  --main-gradient-secondary-color: rgb(191, 255, 255);
  --gray-text-color: #8490b5;

  --box-shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);
}

.light-mode {
  --main-color: #007b9e; /* A richer cyan tone for better visibility */
  --main-text-color: #1a1a1a; /* Darker blackish text for better contrast */
  --main-background-color: #fdfdfd; /* Off-white to reduce glare */
  --secondary-background-color: rgba(
    0,
    123,
    158,
    0.1
  ); /* Softer background tint */
  --secondary-background-color: rgba(0, 255, 255, 0.15);
  --main-gradient-secondary-color: rgba(0, 60, 78, 0.767);
  --gray-text-color: #3d4663;

  --box-shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
    0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
    0px 4px 9px rgba(9, 11, 17, 0.12);
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  overscroll-behavior: none;
}
.switch-mode-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* General checkbox styling */
.settings-checkbox {
  border: none;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  outline: none;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #0e2e3f;
  transition: background-color 0.3s ease;
}

.settings-checkbox::before {
  z-index: 10;
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.settings-checkbox:checked {
  background-color: black;
}

.settings-checkbox:checked::before {
  background-color: white;
  transform: translate(100%, -50%);
}

/* Navbar */

.special-word {
  color: var(--main-color);
}

p {
  color: var(--gray-text-color);
  font-weight: normal;
  margin: 0;
  font-size: 1rem;
}

button {
  all: unset;
  border: 1px var(--main-color) solid;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--main-color);
  color: rgb(42, 41, 41);
}

/* Scroll behavior */

.about {
  scroll-margin-top: var(--navbar-height);
}
.projects {
  scroll-margin-top: var(--navbar-height);
}
.experience {
  scroll-margin-top: var(--navbar-height);
}

.scroll-top-button {
  margin: 20px 0px;
}

h1 {
  padding: 25px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(50px); /* Make the underline wider by 50 pixels */
  height: 5px; /* Set the height of the underline */
  background-color: var(--main-color); /* Set the color of the underline */
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
}
